In [15]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from scipy.linalg import eigh
import seaborn as sns
from sklearn.manifold import TSNE

In [6]:
data = pd.read_csv('train.csv')
data.head()

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
label = data['label']
label.head()

0    1
1    0
2    1
3    4
4    0
Name: label, dtype: int64

In [8]:
data = data.drop('label',axis= 1)
data.head()

,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
data.shape

(42000, 784)

In [10]:
label.shape

(42000,)

In [11]:
std_data = StandardScaler().fit_transform(data)
std_data.shape

(42000, 784)

In [12]:
std_data.T.shape

(784, 42000)

In [13]:
std_data.shape

(42000, 784)

###  t-SNE implementation with perplexity = 30, iteration=1000 (Default)

In [18]:
model = TSNE(n_components=2,random_state=0)

In [ ]:
tsne_data = model.fit_transform(std_data)
tsne_data = np.vstack((tsne_data.T,label)).T
tsne_df = pd.DataFrame(data=tsne_data,columns=("f1","f2","label"))

In [ ]:
sns.FacetGrid(tsne_df,hue="label",size=8).map(plt.scatter,'f1','f2').add_legend()
plt.show()

###  t-SNE implementation with perplexity = 50, iteration=1000

###  t-SNE implementation with perplexity = 100, iteration=2000